.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    color: white;
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #007bff; /* Altera a cor ao passar o mouse */
  }
  